layout {

    focus-ring {
        active-color   "#85d2e5"
        inactive-color "#101415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#85d2e5"
        inactive-color "#101415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#85d2e5"
        inactive-color "#1b7485"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#85d2e580"
    }
}

recent-windows {
    highlight {
        active-color "#85d2e5"
        urgent-color "#ffb4ab"
    }
}
